.form {
    &__wrapper {
        width: 100%;
        height: calc(100vh - 120px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__body {
        height: auto;
        width: 100%;
        margin: 0 auto;
        max-width: 450px;
        transform: translateY(-30%);
    }
}