$primary-color-text: #0F1111;
$secondary-color-text: #485656;
$tertiary-color-text: #627070;
$blue-color-text: #00D8FF;

$primary-background-color: #F5F5F5;
$secondary-background-color: #FFFFFF;

$primary-border-color: #EAEAEA;